# EDA Project

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
from datetime import datetime

In [2]:
Top5_stats = pd.read_csv('stats.csv')
Top5_stats

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,att_pen_goal,att_freekick_goal,att_ibox_goal,att_obox_goal,goal_fastbreak,total_offside,clean_sheet,goals_conceded,saves,outfielder_block,interception,total_tackle,last_man_tackle,total_clearance,head_clearance,own_goals,penalty_conceded,pen_goals_conceded,total_pass,total_through_ball,total_long_balls,backward_pass,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season
0,Manchester United,28.0,5.0,83.0,60.0,1.0,698.0,256.0,21.0,12.0,5.0,1.0,72.0,11.0,9.0,80.0,16.0,27.0,2.0,81.0,254.0,890.0,1.0,1222.0,NaN,1.0,5.0,3.0,18723.0,NaN,2397.0,NaN,918.0,258.0,25686.0,NaN,1.0,NaN,2.0,37.0,25.0,2006-2007
1,Chelsea,24.0,3.0,64.0,62.0,4.0,636.0,216.0,14.0,16.0,3.0,6.0,41.0,23.0,6.0,127.0,22.0,24.0,4.0,74.0,292.0,982.0,0.0,1206.0,NaN,1.0,3.0,2.0,16759.0,NaN,2270.0,NaN,897.0,231.0,24010.0,NaN,2.0,NaN,1.0,74.0,22.0,2006-2007
2,Liverpool,20.0,10.0,57.0,44.0,0.0,668.0,214.0,15.0,8.0,6.0,1.0,46.0,11.0,3.0,120.0,20.0,27.0,1.0,65.0,246.0,969.0,2.0,1115.0,NaN,0.0,1.0,1.0,17154.0,NaN,2800.0,NaN,1107.0,282.0,24150.0,NaN,1.0,NaN,0.0,51.0,27.0,2006-2007
3,Arsenal,19.0,8.0,63.0,59.0,3.0,638.0,226.0,19.0,10.0,10.0,3.0,53.0,10.0,7.0,111.0,12.0,35.0,6.0,73.0,214.0,998.0,1.0,1202.0,NaN,1.0,3.0,3.0,18458.0,NaN,2045.0,NaN,873.0,278.0,25592.0,NaN,1.0,NaN,0.0,88.0,27.0,2006-2007
4,Tottenham Hotspur,17.0,12.0,57.0,48.0,3.0,520.0,184.0,6.0,5.0,6.0,2.0,44.0,13.0,9.0,149.0,6.0,54.0,11.0,128.0,276.0,995.0,2.0,1412.0,NaN,2.0,7.0,6.0,14914.0,NaN,2408.0,NaN,796.0,181.0,22200.0,NaN,2.0,NaN,0.0,51.0,24.0,2006-2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Huddersfield Town,9.0,19.0,28.0,62.0,3.0,362.0,109.0,8.0,5.0,2.0,0.0,27.0,1.0,2.0,67.0,10.0,58.0,103.0,118.0,519.0,744.0,4.0,1070.0,490.0,1.0,6.0,4.0,14960.0,26.0,2563.0,2267.0,765.0,165.0,22619.0,21.0,6.0,416.0,2.0,31.0,24.0,2017-2018
236,Swansea City,8.0,21.0,28.0,51.0,1.0,338.0,103.0,8.0,3.0,1.0,0.0,24.0,4.0,0.0,38.0,9.0,56.0,137.0,124.0,390.0,610.0,2.0,943.0,499.0,2.0,7.0,3.0,15721.0,23.0,2580.0,2582.0,694.0,150.0,22775.0,26.0,1.0,439.0,3.0,44.0,15.0,2017-2018
237,Southampton,7.0,16.0,37.0,63.0,2.0,450.0,145.0,15.0,7.0,3.0,1.0,34.0,3.0,2.0,73.0,8.0,56.0,110.0,128.0,462.0,658.0,4.0,953.0,509.0,1.0,2.0,1.0,17174.0,56.0,2541.0,2589.0,800.0,227.0,24639.0,37.0,4.0,379.0,1.0,29.0,13.0,2017-2018
238,Stoke City,7.0,19.0,35.0,62.0,1.0,384.0,132.0,8.0,8.0,0.0,1.0,28.0,8.0,2.0,87.0,6.0,68.0,152.0,142.0,461.0,678.0,9.0,1164.0,609.0,2.0,5.0,5.0,12892.0,33.0,2528.0,1979.0,598.0,136.0,20368.0,33.0,3.0,402.0,0.0,27.0,14.0,2017-2018
239,West Bromwich Albion,6.0,19.0,31.0,73.0,1.0,378.0,114.0,7.0,10.0,1.0,1.0,29.0,2.0,2.0,79.0,10.0,56.0,102.0,148.0,469.0,604.0,0.0,993.0,544.0,2.0,1.0,1.0,13218.0,34.0,2699.0,2041.0,784.0,176.0,20552.0,28.0,3.0,446.0,0.0,40.0,5.0,2017-2018

In [37]:
Top_teams=pd.read_csv('results.csv')

In [38]:
Top_teams.groupby('season')['result'].count()

season
2006-2007    380
2007-2008    380
2008-2009    380
2009-2010    380
2010-2011    380
2011-2012    380
2012-2013    380
2013-2014    380
2014-2015    380
2015-2016    380
2016-2017    380
2017-2018    380
Name: result, dtype: int64

In [39]:
Top_teams

,home_team,away_team,home_goals,away_goals,result,season
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007
2,Everton,Watford,2.0,1.0,H,2006-2007
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007
...,...,...,...,...,...,...
4555,Newcastle United,Chelsea,3.0,0.0,H,2017-2018
4556,Southampton,Manchester City,0.0,1.0,A,2017-2018
4557,Swansea City,Stoke City,1.0,2.0,A,2017-2018
4558,Tottenham Hotspur,Leicester City,5.0,4.0,H,2017-2018
4559,West Ham United,Everton,3.0,1.0,H,2017-2018

In [40]:
test=Top_teams[Top5_teams['season'] == '2009-2010']

In [41]:
test=test[(test['home_team']=='Manchester United') | (test['away_team']=='Manchester United')]

In [42]:
test

,home_team,away_team,home_goals,away_goals,result,season
1148,Manchester United,Birmingham City,1.0,0.0,H,2009-2010
1153,Burnley,Manchester United,1.0,0.0,H,2009-2010
1161,Wigan Athletic,Manchester United,0.0,5.0,A,2009-2010
1172,Manchester United,Arsenal,2.0,1.0,H,2009-2010
1183,Tottenham Hotspur,Manchester United,1.0,3.0,A,2009-2010
1192,Manchester United,Manchester City,4.0,3.0,H,2009-2010
1200,Stoke City,Manchester United,0.0,2.0,A,2009-2010
1210,Manchester United,Sunderland,2.0,2.0,D,2009-2010
1219,Manchester United,Bolton Wanderers,2.0,1.0,H,2009-2010
1233,Liverpool,Manchester United,2.0,0.0,H,2009-2010
1244,Manchester United,Blackburn Rovers,2.0,0.0,H,2009-2010
1255,Chelsea,Manchester United,1.0,0.0,H,2009-2010
1263,Manchester United,Everton,3.0,0.0,H,2009-2010
1272,Portsmouth,Manchester United,1.0,4.0,A,2009-2010
1283,West Ham United,Manchester United,0.0,4.0,A,2009-2010
1297,Manchester United,Aston Villa,0.0,1.0,A,2009-2010
1302,Manchester United,Wolverhampton Wanderers,3.0,0.0,H,2009-2010
1310,Fulham,Manchester United,3.0,0.0,H,2009-2010
1325,Hull City,Manchester United,1.0,3.0,A,2009-2010
1335,Manchester United,Wigan Athletic,5.0,0.0,H,2009-2010
1338,Birmingham City,Manchester United,1.0,1.0,D,2009-2010
1342,Manchester United,Burnley,3.0,0.0,H,2009-2010
1351,Manchester United,Hull City,4.0,0.0,H,2009-2010
1368,Arsenal,Manchester United,1.0,3.0,A,2009-2010
1376,Manchester United,Portsmouth,5.0,0.0,H,2009-2010
1387,Aston Villa,Manchester United,1.0,1.0,D,2009-2010
1394,Everton,Manchester United,3.0,1.0,H,2009-2010
1404,Manchester United,West Ham United,3.0,0.0,H,2009-2010
1415,Wolverhampton Wanderers,Manchester United,0.0,1.0,A,2009-2010
1428,Manchester United,Fulham,3.0,0.0,H,2009-2010
1439,Manchester United,Liverpool,2.0,1.0,H,2009-2010
1453,Bolton Wanderers,Manchester United,0.0,4.0,A,2009-2010
1457,Manchester United,Chelsea,1.0,2.0,A,2009-2010
1470,Blackburn Rovers,Manchester United,0.0,0.0,D,2009-2010
1477,Manchester City,Manchester United,0.0,1.0,A,2009-2010
1488,Manchester United,Tottenham Hotspur,3.0,1.0,H,2009-2010
1505,Sunderland,Manchester United,0.0,1.0,A,2009-2010
1517,Manchester United,Stoke City,4.0,0.0,H,2009-2010

In [46]:
Top_teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4560 entries, 0 to 4559
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   home_team   4560 non-null   object
 1   away_team   4560 non-null   object
 2   home_goals  4560 non-null   float64
 3   away_goals  4560 non-null   float64
 4   result      4560 non-null   object
 5   season      4560 non-null   object
dtypes: float64(2), object(4)
memory usage: 213.9+ KB

In [44]:
Top5_teams_D=Top_teams[Top_teams['result']== 'D']

In [45]:
Top5_teams_D

,home_team,away_team,home_goals,away_goals,result,season
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007
10,Watford,West Ham United,1.0,1.0,D,2006-2007
13,Manchester City,Portsmouth,0.0,0.0,D,2006-2007
14,Blackburn Rovers,Everton,1.0,1.0,D,2006-2007
...,...,...,...,...,...,...
4525,Burnley,Brighton and Hove Albion,0.0,0.0,D,2017-2018
4540,Everton,Southampton,1.0,1.0,D,2017-2018
4541,Manchester City,Huddersfield Town,0.0,0.0,D,2017-2018
4545,Chelsea,Huddersfield Town,1.0,1.0,D,2017-2018
4549,West Ham United,Manchester United,0.0,0.0,D,2017-2018

In [12]:
Top5_teams_D.groupby('season')['result'].count()

season
2006-2007     98
2007-2008    100
2008-2009     97
2009-2010     96
2010-2011    111
2011-2012     93
2012-2013    108
2013-2014     78
2014-2015     93
2015-2016    107
2016-2017     84
2017-2018     99
Name: result, dtype: int64

In [13]:
Top5_teams_D.groupby('season')['result'].count().mean()

97.0

In [14]:
Top5_teams_D_H=Top5_teams_D.groupby(['home_team','season'])['result'].count().sort_values(ascending=False)

In [29]:
Top5_teams_D_A=Top5_teams_D.groupby(['away_team','season'])['result'].count().sort_values(ascending=False)

In [30]:
Top5_teams_D_H

home_team             season
Manchester United     2016-2017    10
West Bromwich Albion  2013-2014     9
                      2017-2018     9
Tottenham Hotspur     2010-2011     9
Liverpool             2011-2012     9
                                   ..
                      2013-2014     1
Chelsea               2009-2010     1
Manchester City       2013-2014     1
                      2011-2012     1
Manchester United     2009-2010     1
Name: result, Length: 237, dtype: int64

In [17]:
Top5_teams_D_A

away_team            season
Aston Villa          2011-2012    10
Manchester United    2010-2011    10
Sunderland           2014-2015     9
Manchester City      2009-2010     9
Fulham               2010-2011     9
                                  ..
Burnley              2009-2010     1
Newcastle United     2013-2014     1
Sunderland           2016-2017     1
Liverpool            2011-2012     1
Queens Park Rangers  2014-2015     1
Name: result, Length: 240, dtype: int64

In [47]:
#top5_teams_t_D=pd.merge(Top5_teams_D_H,Top5_teams_D_A,on='home_team')

# Premier League top 6 winning home games and scoring over 2.5 goals

In [107]:
Top6_teams=Top_teams.copy()

In [109]:
Top6_teams['total_goals']=Top_teams['home_goals'] +Top_teams['away_goals']

In [110]:
Top6_teams['home_team'].unique()

array(['Sheffield United', 'Arsenal', 'Everton', 'Newcastle United',
       'Portsmouth', 'Reading', 'West Ham United', 'Bolton Wanderers',
       'Manchester United', 'Chelsea', 'Watford', 'Tottenham Hotspur',
       'Aston Villa', 'Manchester City', 'Blackburn Rovers',
       'Charlton Athletic', 'Fulham', 'Middlesbrough', 'Liverpool',
       'Wigan Athletic', 'Sunderland', 'Derby County', 'Birmingham City',
       'Hull City', 'Stoke City', 'West Bromwich Albion',
       'Wolverhampton Wanderers', 'Burnley', 'Blackpool',
       'Queens Park Rangers', 'Swansea City', 'Norwich City',
       'Southampton', 'Crystal Palace', 'Cardiff City', 'Leicester City',
       'AFC Bournemouth', 'Brighton and Hove Albion', 'Huddersfield Town'],
      dtype=object)

In [111]:
Top6_teams=Top6_teams[Top6_teams['total_goals'] >= 3]

In [112]:
Top6_teams=Top6_teams[(Top6_teams['home_team']=='Liverpool') | (Top6_teams['home_team']=='Chelsea')|(Top6_teams['home_team']=='Manchester City')|(Top6_teams['home_team']=='Manchester United')|(Top6_teams['home_team']=='Tottenham Hotspur')|(Top6_teams['home_team']=='Arsenal')]

In [113]:
#Top6_teams.groupby(["home_team",'season'])['total_goals'].count().head(60)

In [114]:
Top6_teams=Top6_teams[Top6_teams['home_goals'] > Top6_teams['away_goals']]

In [116]:
Top6_teams

,home_team,away_team,home_goals,away_goals,result,season,total_goals
8,Manchester United,Fulham,5.0,1.0,H,2006-2007,6.0
9,Chelsea,Manchester City,3.0,0.0,H,2006-2007,3.0
18,Liverpool,West Ham United,2.0,1.0,H,2006-2007,3.0
31,Chelsea,Charlton Athletic,2.0,1.0,H,2006-2007,3.0
49,Liverpool,Tottenham Hotspur,3.0,0.0,H,2006-2007,3.0
...,...,...,...,...,...,...,...
4532,Manchester United,Arsenal,2.0,1.0,H,2017-2018,3.0
4542,Arsenal,Burnley,5.0,0.0,H,2017-2018,5.0
4547,Manchester City,Brighton and Hove Albion,3.0,1.0,H,2017-2018,4.0
4553,Liverpool,Brighton and Hove Albion,4.0,0.0,H,2017-2018,4.0
4558,Tottenham Hotspur,Leicester City,5.0,4.0,H,2017-2018,9.0

In [258]:
Top6_teams

,home_team,away_team,home_goals,away_goals,result,season,total_goals
8,Manchester United,Fulham,5.0,1.0,H,2006-2007,6.0
9,Chelsea,Manchester City,3.0,0.0,H,2006-2007,3.0
18,Liverpool,West Ham United,2.0,1.0,H,2006-2007,3.0
31,Chelsea,Charlton Athletic,2.0,1.0,H,2006-2007,3.0
49,Liverpool,Tottenham Hotspur,3.0,0.0,H,2006-2007,3.0
...,...,...,...,...,...,...,...
4532,Manchester United,Arsenal,2.0,1.0,H,2017-2018,3.0
4542,Arsenal,Burnley,5.0,0.0,H,2017-2018,5.0
4547,Manchester City,Brighton and Hove Albion,3.0,1.0,H,2017-2018,4.0
4553,Liverpool,Brighton and Hove Albion,4.0,0.0,H,2017-2018,4.0
4558,Tottenham Hotspur,Leicester City,5.0,4.0,H,2017-2018,9.0

In [259]:
Top6_teams_plt=Top6_teams.groupby(["home_team",'season'])['total_goals'].count().reset_index()

In [260]:
Top6_teams_plt

            home_team     season  total_goals
0             Arsenal  2006-2007           12
1             Arsenal  2007-2008            6
2             Arsenal  2008-2009            5
3             Arsenal  2009-2010           10
4             Arsenal  2010-2011            7
..                ...        ...          ...
67  Tottenham Hotspur  2013-2014            5
68  Tottenham Hotspur  2014-2015            8
69  Tottenham Hotspur  2015-2016            8
70  Tottenham Hotspur  2016-2017           11
71  Tottenham Hotspur  2017-2018            5

[72 rows x 3 columns]

# How many red cards per season for teams

In [152]:
Top5_stats_cards=Top5_stats.copy()

In [153]:
Top5_stats

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,att_pen_goal,att_freekick_goal,att_ibox_goal,att_obox_goal,goal_fastbreak,total_offside,clean_sheet,goals_conceded,saves,outfielder_block,interception,total_tackle,last_man_tackle,total_clearance,head_clearance,own_goals,penalty_conceded,pen_goals_conceded,total_pass,total_through_ball,total_long_balls,backward_pass,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season
0,Manchester United,28.0,5.0,83.0,60.0,1.0,698.0,256.0,21.0,12.0,5.0,1.0,72.0,11.0,9.0,80.0,16.0,27.0,2.0,81.0,254.0,890.0,1.0,1222.0,NaN,1.0,5.0,3.0,18723.0,NaN,2397.0,NaN,918.0,258.0,25686.0,NaN,1.0,NaN,2.0,37.0,25.0,2006-2007
1,Chelsea,24.0,3.0,64.0,62.0,4.0,636.0,216.0,14.0,16.0,3.0,6.0,41.0,23.0,6.0,127.0,22.0,24.0,4.0,74.0,292.0,982.0,0.0,1206.0,NaN,1.0,3.0,2.0,16759.0,NaN,2270.0,NaN,897.0,231.0,24010.0,NaN,2.0,NaN,1.0,74.0,22.0,2006-2007
2,Liverpool,20.0,10.0,57.0,44.0,0.0,668.0,214.0,15.0,8.0,6.0,1.0,46.0,11.0,3.0,120.0,20.0,27.0,1.0,65.0,246.0,969.0,2.0,1115.0,NaN,0.0,1.0,1.0,17154.0,NaN,2800.0,NaN,1107.0,282.0,24150.0,NaN,1.0,NaN,0.0,51.0,27.0,2006-2007
3,Arsenal,19.0,8.0,63.0,59.0,3.0,638.0,226.0,19.0,10.0,10.0,3.0,53.0,10.0,7.0,111.0,12.0,35.0,6.0,73.0,214.0,998.0,1.0,1202.0,NaN,1.0,3.0,3.0,18458.0,NaN,2045.0,NaN,873.0,278.0,25592.0,NaN,1.0,NaN,0.0,88.0,27.0,2006-2007
4,Tottenham Hotspur,17.0,12.0,57.0,48.0,3.0,520.0,184.0,6.0,5.0,6.0,2.0,44.0,13.0,9.0,149.0,6.0,54.0,11.0,128.0,276.0,995.0,2.0,1412.0,NaN,2.0,7.0,6.0,14914.0,NaN,2408.0,NaN,796.0,181.0,22200.0,NaN,2.0,NaN,0.0,51.0,24.0,2006-2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Huddersfield Town,9.0,19.0,28.0,62.0,3.0,362.0,109.0,8.0,5.0,2.0,0.0,27.0,1.0,2.0,67.0,10.0,58.0,103.0,118.0,519.0,744.0,4.0,1070.0,490.0,1.0,6.0,4.0,14960.0,26.0,2563.0,2267.0,765.0,165.0,22619.0,21.0,6.0,416.0,2.0,31.0,24.0,2017-2018
236,Swansea City,8.0,21.0,28.0,51.0,1.0,338.0,103.0,8.0,3.0,1.0,0.0,24.0,4.0,0.0,38.0,9.0,56.0,137.0,124.0,390.0,610.0,2.0,943.0,499.0,2.0,7.0,3.0,15721.0,23.0,2580.0,2582.0,694.0,150.0,22775.0,26.0,1.0,439.0,3.0,44.0,15.0,2017-2018
237,Southampton,7.0,16.0,37.0,63.0,2.0,450.0,145.0,15.0,7.0,3.0,1.0,34.0,3.0,2.0,73.0,8.0,56.0,110.0,128.0,462.0,658.0,4.0,953.0,509.0,1.0,2.0,1.0,17174.0,56.0,2541.0,2589.0,800.0,227.0,24639.0,37.0,4.0,379.0,1.0,29.0,13.0,2017-2018
238,Stoke City,7.0,19.0,35.0,62.0,1.0,384.0,132.0,8.0,8.0,0.0,1.0,28.0,8.0,2.0,87.0,6.0,68.0,152.0,142.0,461.0,678.0,9.0,1164.0,609.0,2.0,5.0,5.0,12892.0,33.0,2528.0,1979.0,598.0,136.0,20368.0,33.0,3.0,402.0,0.0,27.0,14.0,2017-2018
239,West Bromwich Albion,6.0,19.0,31.0,73.0,1.0,378.0,114.0,7.0,10.0,1.0,1.0,29.0,2.0,2.0,79.0,10.0,56.0,102.0,148.0,469.0,604.0,0.0,993.0,544.0,2.0,1.0,1.0,13218.0,34.0,2699.0,2041.0,784.0,176.0,20552.0,28.0,3.0,446.0,0.0,40.0,5.0,2017-2018

In [154]:
Top5_stats_cards['total_cards']=Top5_stats_cards['total_yel_card'] + Top5_stats_cards['total_red_card']

In [147]:
#Top5_stats_cards=Top5_stats_cards.groupby(['team','season'])['total_yel_card'].sum()

In [155]:
Top5_stats_cards

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,att_pen_goal,att_freekick_goal,att_ibox_goal,att_obox_goal,goal_fastbreak,total_offside,clean_sheet,goals_conceded,saves,outfielder_block,interception,total_tackle,last_man_tackle,total_clearance,head_clearance,own_goals,penalty_conceded,pen_goals_conceded,total_pass,total_through_ball,total_long_balls,backward_pass,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season,total_cards
0,Manchester United,28.0,5.0,83.0,60.0,1.0,698.0,256.0,21.0,12.0,5.0,1.0,72.0,11.0,9.0,80.0,16.0,27.0,2.0,81.0,254.0,890.0,1.0,1222.0,NaN,1.0,5.0,3.0,18723.0,NaN,2397.0,NaN,918.0,258.0,25686.0,NaN,1.0,NaN,2.0,37.0,25.0,2006-2007,61.0
1,Chelsea,24.0,3.0,64.0,62.0,4.0,636.0,216.0,14.0,16.0,3.0,6.0,41.0,23.0,6.0,127.0,22.0,24.0,4.0,74.0,292.0,982.0,0.0,1206.0,NaN,1.0,3.0,2.0,16759.0,NaN,2270.0,NaN,897.0,231.0,24010.0,NaN,2.0,NaN,1.0,74.0,22.0,2006-2007,66.0
2,Liverpool,20.0,10.0,57.0,44.0,0.0,668.0,214.0,15.0,8.0,6.0,1.0,46.0,11.0,3.0,120.0,20.0,27.0,1.0,65.0,246.0,969.0,2.0,1115.0,NaN,0.0,1.0,1.0,17154.0,NaN,2800.0,NaN,1107.0,282.0,24150.0,NaN,1.0,NaN,0.0,51.0,27.0,2006-2007,44.0
3,Arsenal,19.0,8.0,63.0,59.0,3.0,638.0,226.0,19.0,10.0,10.0,3.0,53.0,10.0,7.0,111.0,12.0,35.0,6.0,73.0,214.0,998.0,1.0,1202.0,NaN,1.0,3.0,3.0,18458.0,NaN,2045.0,NaN,873.0,278.0,25592.0,NaN,1.0,NaN,0.0,88.0,27.0,2006-2007,62.0
4,Tottenham Hotspur,17.0,12.0,57.0,48.0,3.0,520.0,184.0,6.0,5.0,6.0,2.0,44.0,13.0,9.0,149.0,6.0,54.0,11.0,128.0,276.0,995.0,2.0,1412.0,NaN,2.0,7.0,6.0,14914.0,NaN,2408.0,NaN,796.0,181.0,22200.0,NaN,2.0,NaN,0.0,51.0,24.0,2006-2007,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Huddersfield Town,9.0,19.0,28.0,62.0,3.0,362.0,109.0,8.0,5.0,2.0,0.0,27.0,1.0,2.0,67.0,10.0,58.0,103.0,118.0,519.0,744.0,4.0,1070.0,490.0,1.0,6.0,4.0,14960.0,26.0,2563.0,2267.0,765.0,165.0,22619.0,21.0,6.0,416.0,2.0,31.0,24.0,2017-2018,65.0
236,Swansea City,8.0,21.0,28.0,51.0,1.0,338.0,103.0,8.0,3.0,1.0,0.0,24.0,4.0,0.0,38.0,9.0,56.0,137.0,124.0,390.0,610.0,2.0,943.0,499.0,2.0,7.0,3.0,15721.0,23.0,2580.0,2582.0,694.0,150.0,22775.0,26.0,1.0,439.0,3.0,44.0,15.0,2017-2018,52.0
237,Southampton,7.0,16.0,37.0,63.0,2.0,450.0,145.0,15.0,7.0,3.0,1.0,34.0,3.0,2.0,73.0,8.0,56.0,110.0,128.0,462.0,658.0,4.0,953.0,509.0,1.0,2.0,1.0,17174.0,56.0,2541.0,2589.0,800.0,227.0,24639.0,37.0,4.0,379.0,1.0,29.0,13.0,2017-2018,65.0
238,Stoke City,7.0,19.0,35.0,62.0,1.0,384.0,132.0,8.0,8.0,0.0,1.0,28.0,8.0,2.0,87.0,6.0,68.0,152.0,142.0,461.0,678.0,9.0,1164.0,609.0,2.0,5.0,5.0,12892.0,33.0,2528.0,1979.0,598.0,136.0,20368.0,33.0,3.0,402.0,0.0,27.0,14.0,2017-2018,63.0
239,West Bromwich Albion,6.0,19.0,31.0,73.0,1.0,378.0,114.0,7.0,10.0,1.0,1.0,29.0,2.0,2.0,79.0,10.0,56.0,102.0,148.0,469.0,604.0,0.0,993.0,544.0,2.0,1.0,1.0,13218.0,34.0,2699.0,2041.0,784.0,176.0,20552.0,28.0,3.0,446.0,0.0,40.0,5.0,2017-2018,74.0

In [164]:
Top5_stats_cards.groupby(['team','season'])['total_cards'].sum().mean()/38

1.6826754385964913

In [171]:
Top5_stats_cards['average_cards']=Top5_stats_cards['total_cards']/38

In [172]:
Top5_stats_cards_av=Top5_stats_cards[Top5_stats_cards['average_cards']>2]

In [173]:
Top5_stats_cards_av

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,att_pen_goal,att_freekick_goal,att_ibox_goal,att_obox_goal,goal_fastbreak,total_offside,clean_sheet,goals_conceded,saves,outfielder_block,interception,total_tackle,last_man_tackle,total_clearance,head_clearance,own_goals,penalty_conceded,pen_goals_conceded,total_pass,total_through_ball,total_long_balls,backward_pass,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season,total_cards,average_cards
5,Bolton Wanderers,16.0,14.0,47.0,84.0,4.0,404.0,120.0,7.0,10.0,6.0,0.0,38.0,9.0,3.0,95.0,12.0,52.0,13.0,101.0,235.0,811.0,0.0,1037.0,NaN,3.0,8.0,6.0,12400.0,NaN,2403.0,NaN,942.0,217.0,18932.0,NaN,6.0,NaN,2.0,44.0,21.0,2006-2007,88.0,2.315789
7,Blackburn Rovers,15.0,16.0,52.0,77.0,6.0,478.0,155.0,5.0,12.0,5.0,3.0,43.0,9.0,2.0,142.0,8.0,54.0,22.0,114.0,282.0,864.0,2.0,1095.0,NaN,2.0,11.0,6.0,14033.0,NaN,2544.0,NaN,911.0,205.0,20812.0,NaN,8.0,NaN,5.0,56.0,25.0,2006-2007,83.0,2.184211
11,West Ham United,12.0,21.0,35.0,85.0,2.0,461.0,134.0,8.0,3.0,1.0,2.0,27.0,8.0,3.0,92.0,9.0,59.0,4.0,132.0,233.0,860.0,1.0,1232.0,NaN,2.0,4.0,4.0,13178.0,NaN,2403.0,NaN,849.0,196.0,20040.0,NaN,5.0,NaN,0.0,64.0,25.0,2006-2007,87.0,2.289474
27,Blackburn Rovers,15.0,10.0,50.0,72.0,6.0,530.0,185.0,14.0,11.0,5.0,1.0,40.0,10.0,3.0,95.0,8.0,48.0,0.0,116.0,550.0,833.0,3.0,2065.0,1003.0,1.0,6.0,4.0,13650.0,31.0,2281.0,NaN,883.0,196.0,22599.0,NaN,5.0,532.0,2.0,59.0,27.0,2007-2008,78.0,2.052632
33,Middlesbrough,10.0,16.0,43.0,86.0,2.0,499.0,152.0,13.0,9.0,2.0,2.0,37.0,6.0,6.0,126.0,8.0,53.0,0.0,136.0,528.0,835.0,0.0,2139.0,1043.0,5.0,2.0,2.0,12200.0,48.0,2341.0,NaN,960.0,219.0,21064.0,NaN,2.0,575.0,0.0,68.0,38.0,2007-2008,88.0,2.315789
50,Stoke City,12.0,17.0,38.0,73.0,5.0,364.0,100.0,11.0,14.0,5.0,0.0,35.0,3.0,1.0,65.0,12.0,55.0,NaN,169.0,574.0,688.0,11.0,1555.0,926.0,2.0,3.0,2.0,9478.0,66.0,2171.0,NaN,697.0,174.0,18693.0,NaN,7.0,438.0,0.0,85.0,41.0,2008-2009,78.0,2.052632
53,Blackburn Rovers,10.0,17.0,40.0,74.0,4.0,473.0,148.0,13.0,9.0,4.0,1.0,35.0,5.0,0.0,119.0,10.0,60.0,NaN,119.0,557.0,824.0,14.0,1649.0,900.0,2.0,6.0,5.0,13436.0,111.0,2307.0,NaN,865.0,199.0,23450.0,NaN,9.0,372.0,0.0,48.0,36.0,2008-2009,78.0,2.052632
72,Sunderland,11.0,16.0,48.0,77.0,9.0,444.0,159.0,11.0,10.0,6.0,1.0,44.0,4.0,6.0,93.0,7.0,56.0,0.0,162.0,829.0,890.0,10.0,1641.0,904.0,2.0,6.0,5.0,12489.0,136.0,2265.0,NaN,884.0,180.0,22903.0,NaN,7.0,534.0,0.0,54.0,30.0,2009-2010,86.0,2.263158
73,Bolton Wanderers,10.0,19.0,42.0,74.0,5.0,558.0,163.0,10.0,10.0,4.0,2.0,38.0,4.0,0.0,58.0,5.0,67.0,0.0,147.0,735.0,912.0,15.0,1638.0,936.0,4.0,5.0,3.0,11404.0,114.0,2277.0,NaN,875.0,183.0,21587.0,NaN,9.0,445.0,2.0,50.0,19.0,2009-2010,79.0,2.078947
94,Newcastle United,11.0,14.0,56.0,78.0,2.0,507.0,168.0,10.0,15.0,5.0,0.0,50.0,6.0,1.0,82.0,9.0,57.0,0.0,134.0,608.0,666.0,11.0,1025.0,598.0,2.0,6.0,5.0,14194.0,95.0,2104.0,2041.0,1022.0,202.0,22108.0,62.0,7.0,527.0,0.0,56.0,26.0,2010-2011,80.0,2.105263
105,Chelsea,18.0,10.0,65.0,74.0,4.0,671.0,224.0,20.0,12.0,4.0,0.0,60.0,5.0,2.0,70.0,10.0,46.0,1.0,111.0,637.0,698.0,5.0,881.0,477.0,1.0,6.0,4.0,18766.0,158.0,2021.0,2886.0,972.0,253.0,26276.0,37.0,10.0,571.0,0.0,70.0,17.0,2011-2012,78.0,2.052632
135,Stoke City,9.0,14.0,34.0,78.0,4.0,390.0,114.0,12.0,9.0,3.0,0.0,33.0,1.0,1.0,72.0,12.0,45.0,9.0,159.0,499.0,728.0,5.0,1161.0,567.0,4.0,6.0,6.0,12287.0,32.0,1989.0,1838.0,855.0,165.0,19830.0,35.0,3.0,397.0,0.0,91.0,6.0,2012-2013,82.0,2.157895
150,Stoke City,13.0,14.0,45.0,72.0,5.0,428.0,137.0,14.0,2.0,4.0,2.0,31.0,14.0,3.0,81.0,9.0,52.0,127.0,153.0,474.0,791.0,5.0,1090.0,604.0,1.0,7.0,5.0,15324.0,40.0,1970.0,2453.0,731.0,164.0,23324.0,36.0,2.0,469.0,2.0,84.0,17.0,2013-2014,77.0,2.026316
153,Aston Villa,10.0,20.0,39.0,78.0,0.0,431.0,135.0,11.0,10.0,2.0,3.0,33.0,6.0,4.0,84.0,9.0,61.0,110.0,126.0,460.0,747.0,4.0,1068.0,487.0,4.0,6.0,5.0,13856.0,30.0,2298.0,2231.0,749.0,163.0,21453.0,27.0,3.0,359.0,1.0,102.0,15.0,2013-2014,78.0,2.052632
160,Chelsea,26.0,3.0,73.0,73.0,4.0,564.0,210.0,15.0,10.0,4.0,1.0,66.0,7.0,1.0,75.0,17.0,32.0,90.0,102.0,376.0,759.0,2.0,1027.0,611.0,1.0,3.0,3.0,20268.0,73.0,2276.0,3259.0,682.0,226.0,27861.0,40.0,2.0,476.0,0.0,73.0,13.0,2014-2015,77.0,2.026316
161,Manchester City,24.0,7.0,83.0,77.0,2.0,670.0,229.0,18.0,5.0,7.0,3.0,68.0,15.0,9.0,78.0,14.0,38.0,93.0,98.0,569.0,751.0,1.0,872.0,498.0,3.0,4.0,3.0,22107.0,115.0,1937.0,3140.0,795.0,277.0,29652.0,42.0,1.0,546.0,1.0,52.0,31.0,2014-2015,79.0,2.078947
164,Tottenham Hotspur,19.0,12.0,58.0,79.0,4.0,527.0,171.0,11.0,8.0,3.0,4.0,47.0,11.0,2.0,77.0,9.0,53.0,119.0,117.0,674.0,815.0,6.0,1047.0,636.0,2.0,7.0,5.0,19322.0,69.0,2357.0,2604.0,742.0,224.0,27495.0,39.0,1.0,552.0,1.0,51.0,28.0,2014-2015,83.0,2.184211
168,Stoke City,15.0,14.0,48.0,82.0,1.0,500.0,136.0,9.0,14.0,3.0,0.0,41.0,7.0,1.0,75.0,9.0,45.0,96.0,134.0,496.0,729.0,8.0,1159.0,694.0,0.0,5.0,5.0,15386.0,12.0,2429.0,2317.0,887.0,195.0,23427.0,32.0,3.0,428.0,0.0,68.0,12.0,2014-2015,83.0,2.184211
174,Aston Villa,10.0,20.0,31.0,70.0,7.0,418.0,125.0,5.0,7.0,1.0,1.0,28.0,3.0,2.0,70.0,10.0,57.0,112.0,135.0,487.0,623.0,6.0,1130.0,661.0,1.0,4.0,4.0,16527.0,14.0,2740.0,2575.0,766.0,171.0,23785.0,26.0,2.0,413.0,0.0,77.0,18.0,2014-2015,77.0,2.026316
176,Hull City,8.0,19.0,33.0,73.0,6.0,428.0,131.0,11.0,10.0,1.0,0.0,30.0,3.0,2.0,72.0,10.0,51.0,102.0,158.0,607.0,763.0,2.0,1316.0,761.0,0.0,3.0,1.0,14864.0,21.0,2726.0,2237.0,804.0,169.0,22464.0,22.0,7.0,443.0,2.0,36.0,23.0,2014-2015,79.0,2.078947
177,Queens Park Rangers,8.0,24.0,42.0,75.0,3.0,534.0,150.0,16.0,10.0,3.0,1.0,34.0,8.0,1.0,81.0,6.0,73.0,142.0,159.0,561.0,781.0,6.0,1445.0,884.0,4.0,4.0,2.0,13659.0,17.0,3004.0,1922.0,756.0,179.0,21907.0,39.0,6.0,468.0,2.0,57.0,20.0,2014-2015,78.0,2.052632
179,Sunderland,7.0,14.0,31.0,94.0,2.0,408.0,130.0,11.0,8.0,4.0,2.0,25.0,6.0,2.0,69.0,13.0,53.0,144.0,168.0,578.0,759.0,4.0,994.0,525.0,5.0,4.0,4.0,14451.0,40.0,2484.0,2290.0,687.0,186.0,22037.0,23.0,3.0,411.0,0.0,82.0,17.0,2014-2015,96.0,2.526316
199,Aston Villa,3.0,27.0,27.0,75.0,3.0,380.0,110.0,7.0,6.0,2.0,0.0,21.0,6.0,1.0,42.0,6.0,76.0,116.0,111.0,768.0,731.0,2.0,973.0,499.0,4.0,5.0,3.0,15308.0,12.0,2507.0,2269.0,796.0,167.0,23234.0,20.0,5.0,338.0,1.0,66.0,28.0,2015-2016,78.0,2.052632
205,Manchester United,18.0,5.0,54.0,78.0,2.0,591.0,210.0,19.0,9.0,3.0,1.0,47.0,7.0,5.0,99.0,17.0,29.0,85.0,99.0,584.0,690.0,4.0,1112.0,580.0,1.0,5.0,4.0,20245.0,99.0,2424.0,3177.0,848.0,217.0,28119.0,50.0,1.0,389.0,1.0,32.0,4.0,2016-2017,80.0,2.105263
208,Crystal Palace,12.0,21.0,50.0,77.0,0.0,439.0,138.0,8.0,13.0,4.0,0.0,48.0,2.0,0.0,55.0,7.0,63.0,108.0,125.0,553.0,699.0,4.0,1022.0,557.0,0.0,2.0,2.0,13542.0,20.0,2729.0,2108.0,872.0,203.0,21533.0,27.0,7.0,496.0,0.0,56.0,12.0,2016-2017,77.0,2.026316
212,West Bromwich Albion,12.0,17.0,43.0,80.0,0.0,399.0,123.0,11.0,16.0,1.0,1.0,37.0,6.0,3.0,59.0,6.0,51.0,116.0,150.0,537.0,605.0,0.0,999.0,577.0,1.0,3.0,3.0,11825.0,37.0,2653.0,1798.0,766.0,159.0,19042.0,24.0,3.0,445.0,0.0,53.0,10.0,2016-2017,80.0,2.105263
213,West Ham United,12.0,17.0,47.0,78.0,5.0,499.0,138.0,14.0,14.0,3.0,3.0,41.0,6.0,3.0,74.0,10.0,64.0,117.0,112.0,614.0,574.0,4.0,1074.0,625.0,0.0,8.0,5.0,15127.0,37.0,2622.0,2312.0,752.0,172.0,22666.0,24.0,3.0,367.0,1.0,47.0,11.0,2016-2017,83.0,2.184211
216,Watford,11.0,20.0,40.0,84.0,5.0,422.0,143.0,7.0,9.0,3.0,0.0,36.0,4.0,0.0,61.0,7.0,68.0,121.0,140.0,512.0,618.0,0.0,1016.0,494.0,2.0,4.0,3.0,14049.0,22.0,2600.0,2200.0,686.0,164.0,21547.0,25.0,3.0,390.0,1.0,53.0,35.0,2016-2017,89.0,2.342105
218,Sunderland,6.0,26.0,29.0,78.0,4.0,387.0,119.0,4.0,1.0,5.0,0.0,26.0,3.0,0.0,78.0,6.0,69.0,176.0,171.0,543.0,630.0,0.0,1170.0,616.0,2.0,4.0,4.0,12359.0,38.0,2592.0,1880.0,616.0,159.0,19639.0,19.0,5.0,388.0,0.0,57.0,24.0,2016-2017,82.0,2.157895
219,Middlesbrough,5.0,20.0,27.0,77.0,1.0,351.0,100.0,6.0,8.0,2.0,0.0,26.0,1.0,3.0,51.0,11.0,53.0,117.0,149.0,549.0,727.0,4.0,1090.0,575.0,0.0,5.0,4.0,15736.0,37.0,2856.0,2448.0,722.0,141.0,23067.0,19.0,4.0,357.0,0.0,39.0,17.0,2016-2017,78.0,2.052632

In [176]:
Top5_stats_cards_av.groupby(["team",'season'])['average_cards'].sum()

team                  season
Aston Villa           2013-2014    2.052632
                      2014-2015    2.026316
                      2015-2016    2.052632
Blackburn Rovers      2006-2007    2.184211
                      2007-2008    2.052632
                      2008-2009    2.052632
Bolton Wanderers      2006-2007    2.315789
                      2009-2010    2.078947
Chelsea               2011-2012    2.052632
                      2014-2015    2.026316
Crystal Palace        2016-2017    2.026316
Hull City             2014-2015    2.078947
Manchester City       2014-2015    2.078947
Manchester United     2016-2017    2.105263
Middlesbrough         2007-2008    2.315789
                      2016-2017    2.052632
Newcastle United      2010-2011    2.105263
Queens Park Rangers   2014-2015    2.052632
Stoke City            2008-2009    2.052632
                      2012-2013    2.157895
                      2013-2014    2.026316
                      2014-2015    2.184211
Sunderland            2009-2010    2.263158
                      2014-2015    2.526316
                      2016-2017    2.157895
Tottenham Hotspur     2014-2015    2.184211
Watford               2016-2017    2.342105
West Bromwich Albion  2016-2017    2.105263
West Ham United       2006-2007    2.289474
                      2016-2017    2.184211
Name: average_cards, dtype: float64

# Draws

In [233]:
Top_teams

,home_team,away_team,home_goals,away_goals,result,season
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007
2,Everton,Watford,2.0,1.0,H,2006-2007
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007
...,...,...,...,...,...,...
4555,Newcastle United,Chelsea,3.0,0.0,H,2017-2018
4556,Southampton,Manchester City,0.0,1.0,A,2017-2018
4557,Swansea City,Stoke City,1.0,2.0,A,2017-2018
4558,Tottenham Hotspur,Leicester City,5.0,4.0,H,2017-2018
4559,West Ham United,Everton,3.0,1.0,H,2017-2018

In [234]:
top_teams_D=Top_teams[Top_teams['result'] == 'D']

In [235]:
top_teams_D

,home_team,away_team,home_goals,away_goals,result,season
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007
10,Watford,West Ham United,1.0,1.0,D,2006-2007
13,Manchester City,Portsmouth,0.0,0.0,D,2006-2007
14,Blackburn Rovers,Everton,1.0,1.0,D,2006-2007
...,...,...,...,...,...,...
4525,Burnley,Brighton and Hove Albion,0.0,0.0,D,2017-2018
4540,Everton,Southampton,1.0,1.0,D,2017-2018
4541,Manchester City,Huddersfield Town,0.0,0.0,D,2017-2018
4545,Chelsea,Huddersfield Town,1.0,1.0,D,2017-2018
4549,West Ham United,Manchester United,0.0,0.0,D,2017-2018

In [236]:
top_teams_D.groupby('season')['result'].count().mean()

97.0

In [237]:
top_teams_D.groupby('season')['result'].count()

season
2006-2007     98
2007-2008    100
2008-2009     97
2009-2010     96
2010-2011    111
2011-2012     93
2012-2013    108
2013-2014     78
2014-2015     93
2015-2016    107
2016-2017     84
2017-2018     99
Name: result, dtype: int64

In [238]:
top_teams_D_H=top_teams_D.groupby(['season','home_team'])['result'].count().reset_index()

In [239]:
top_teams_D_H

        season             home_team  result
0    2006-2007               Arsenal       6
1    2006-2007           Aston Villa       8
2    2006-2007      Blackburn Rovers       3
3    2006-2007      Bolton Wanderers       5
4    2006-2007     Charlton Athletic       5
..         ...                   ...     ...
232  2017-2018          Swansea City       3
233  2017-2018     Tottenham Hotspur       4
234  2017-2018               Watford       6
235  2017-2018  West Bromwich Albion       9
236  2017-2018       West Ham United       6

[237 rows x 3 columns]

In [240]:
top_teams_D_A=top_teams_D.groupby(['season','away_team'])['result'].count().reset_index()

In [241]:
top_teams_D_A

        season             away_team  result
0    2006-2007               Arsenal       5
1    2006-2007           Aston Villa       9
2    2006-2007      Blackburn Rovers       4
3    2006-2007      Bolton Wanderers       3
4    2006-2007     Charlton Athletic       5
..         ...                   ...     ...
235  2017-2018          Swansea City       6
236  2017-2018     Tottenham Hotspur       4
237  2017-2018               Watford       2
238  2017-2018  West Bromwich Albion       4
239  2017-2018       West Ham United       6

[240 rows x 3 columns]

In [257]:
total_draw=pd.merge(top_teams_D_H,top_teams_D_A,on='home_team',how='left')

KeyError: 'home_team'

In [254]:
total_draw['total_count']=total_draw['result_x'] +total_draw['result_y']

In [255]:
total_draw_g=total_draw.groupby(['season','home_team'])['total_count'].sum().reset_index()

In [256]:
total_draw

,season,home_team,result_x,away_team,result_y,total_count
0,2006-2007,Arsenal,6,Arsenal,5,11
1,2006-2007,Arsenal,6,Aston Villa,9,15
2,2006-2007,Arsenal,6,Blackburn Rovers,4,10
3,2006-2007,Arsenal,6,Bolton Wanderers,3,9
4,2006-2007,Arsenal,6,Charlton Athletic,5,11
...,...,...,...,...,...,...
4735,2017-2018,West Ham United,6,Swansea City,6,12
4736,2017-2018,West Ham United,6,Tottenham Hotspur,4,10
4737,2017-2018,West Ham United,6,Watford,2,8
4738,2017-2018,West Ham United,6,West Bromwich Albion,4,10
4739,2017-2018,West Ham United,6,West Ham United,6,12

In [245]:
total_draw_g

        season             home_team  total_count
0    2006-2007               Arsenal          218
1    2006-2007           Aston Villa          258
2    2006-2007      Blackburn Rovers          158
3    2006-2007      Bolton Wanderers          198
4    2006-2007     Charlton Athletic          198
..         ...                   ...          ...
232  2017-2018          Swansea City          159
233  2017-2018     Tottenham Hotspur          179
234  2017-2018               Watford          219
235  2017-2018  West Bromwich Albion          279
236  2017-2018       West Ham United          219

[237 rows x 3 columns]

In [246]:
total_draw_g.groupby(['season','home_team'])['total_count'].sum()

season     home_team
2006-2007  Arsenal                 218
           Aston Villa             258
           Blackburn Rovers        158
           Bolton Wanderers        198
           Charlton Athletic       198
                                  ...
2017-2018  Swansea City            159
           Tottenham Hotspur       179
           Watford                 219
           West Bromwich Albion    279
           West Ham United         219
Name: total_count, Length: 237, dtype: int64

In [247]:
total_draw_g=total_draw_g[total_draw_g['total_count']>150]

In [251]:
total_draw_g

        season             home_team  total_count
0    2006-2007               Arsenal          218
1    2006-2007           Aston Villa          258
2    2006-2007      Blackburn Rovers          158
3    2006-2007      Bolton Wanderers          198
4    2006-2007     Charlton Athletic          198
..         ...                   ...          ...
232  2017-2018          Swansea City          159
233  2017-2018     Tottenham Hotspur          179
234  2017-2018               Watford          219
235  2017-2018  West Bromwich Albion          279
236  2017-2018       West Ham United          219

[198 rows x 3 columns]